{%extends "Base.html" %}
{%block title%}Lessons{% endblock %}
{%block content %}
<div class="hero_area">
  <!-- Inicio de la sección del encabezado -->
  <header class="header_section">
    <div class="container-fluid">
      <nav class="navbar navbar-expand-lg custom_nav-container ">
        <a class="navbar-brand" href="/">
          <span>SoulQuest</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/Lessons">Lessons</a>
            </li>
            {% if "user" in session %}
            <li class="nav-item">
              <a class="nav-link" href="/Logoff">Log off</a>
            </li>
            {% endif %}
          </ul>            
        </div>
      </nav>
    </div>
  </header>
  <!-- Fin de la sección del encabezado -->
</div>
{% endblock %} 	