{%extends "Base.html" %}
{%block title%}Soulquest{% endblock %}
{%block content %}
<body class="sub_page">

  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
          <a class="navbar-brand" href="index.html">
            <span>
              SoulQuest
            </span>
          </a>
        </nav>
      </div>
    </header>
    <!-- end header section -->
  </div>
  <!-- about section -->
  <section class="about_section layout_padding layout_margin">
    <div class="container  ">
      <div class="row">
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                Welcome to Soulquest
              </h2>
            </div>
            <h3>
              Please sign up or log in 
            </h3>
            <a href="/Signup">
              Sign up
            </a>
            <a href="/Login">
              Log in
            </a>
          </div>
        </div>
        <div class="col-md-6 ">
          <div class="img-box">
            <img src="{{ url_for('static', filename='images/about-img.png') }}" alt="">
          </div>
        </div>

      </div>
    </div>
  </section>

  <!-- end about section -->
  </div>
</body>
{% endblock %}