{%extends "Base.html" %}
{%block title%}Home{% endblock %}
{%block content %}
  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
          <a class="navbar-brand" href="/">
            <span>
              SoulQuest
            </span>
          </a>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class=""> </span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav  ">
              <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item ">
                <a class="nav-link" href="/Lessons">Lessons</a>
              </li>
              {% if "user" in session %}
              <li class="nav-item">
                <a class="nav-link" href="/Logoff">Log off</a>
              </li>
              {% endif %}
            </ul>  
          </div>
        </nav>
      </div>
    </header>
  </div>
    <!-- about section -->
  <h1>Welcome {{usr}}</h1>
    <section class="about_section layout_padding layout_margin">
      <div class="container  ">
        <div class="row">
          <div class="col-md-6">
            <div class="detail-box">
              <div class="heading_container">
                <h2>
                  About Us
                </h2>
              </div>
              <p>
                Soulquest is an interactive Learning Platform Powered by ChatGPT is a web-based application that enhances student learning by generating personalized educational content. The platform allows users to create topics and receive questions, feedback, and study materials tailored to their needs. Using ChatGPT, it provides real-time responses based on user performance, making education interactive and dynamic. Built with Flask and SQLAlchemy, Soulquest offers a user-friendly experience with secure login, topic management, and progress tracking.
              </p>
              <a href="/Lessons">
                Start Learning
              </a>
            </div>
          </div>
          <div class="col-md-6 ">
            <div class="img-box">
              <img src="{{ url_for('static', filename='images/about-img.png') }}" alt="">
            </div>
          </div>
        </div>
      </div>
    </section>

{% endblock %}